.imgnav{
    border-radius: 50%;
}


.navbartitulo{
    display: flex;
}

.tituloprincipal{
    margin-left: 20px;
    justify-content: center;
    margin-top: 20px;
    color: rgb(17, 112, 26);
}

body{
    background-image: url(img/Parque-Nacional-Los-Alerces-Patagonia-Argentina-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{background-color: rgb(255, 255, 255);
    display: grid; grid-template-columns: auto auto auto;
}

main{align-self: center;}

.imgobj{
    border-radius: 8cm;
    width: 15%;
    margin: 10px;
}

.imgobj2{
    border-radius: 8cm;
    width: 15%;
    margin: 10px;
}

.objetivos{
    margin-block: 5px;
    margin: 10px;
}

.subtitulo2a {
    display: flex;
    justify-content: left;
    margin: 10px;
}


.subtitulo2b{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
}


h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(16, 145, 44);
    background-color: ghostwhite;
    margin-top: 1%;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 60px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.subtitulo1{
    text-align: center;
}

p{
    background-color: ghostwhite;
    opacity: 0.7;
    color: rgb(49, 49, 49);
    
}

.psub1{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    border-style: groove;
    padding: 20px;
}

.pa{
    border-style: groove;
    padding: 20px;
}

.pb{
    border-style: groove;
    padding: 20px;
}

.carousel{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    margin-top: 20px;
}

.tdscards{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 10px;
    margin-right: 10px;
    align-items: flex-start;
}

.card{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.botonV{
    text-align: center;
    margin-left: 35%;
}

footer{
    background-color: ghostwhite;
    padding-top: 40px;
    padding-left: 20px;
    margin-top: 30px;
}

.footerdivA{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
}

.footerdivb{
    margin-left: 40px;
}

.footerdivc{
    text-align: end;
    margin-right: 10px;
}